@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .glitch {
        mask-image: linear-gradient(to bottom, black 0%, transparent 0% 30%, black 30% 100%);
        mask-size: auto 50%;
        animation: glitch 1s infinite cubic-bezier(.8, 0, .2, 1);
    }
    
    @keyframes glitch {
        0% {
            mask-position: 0% 0%;
        }
        25% {
            mask-position: 0% 20%;
        }
        50% {
            mask-position: 0% 50%;
        }
        75% {
            mask-position: 0% 40%;
        }
        85% {
            mask-position: 0% 70%;
        }
        100% {
            mask-position: 0% 0%;
        }
    }
}
