<a href="{{ .Permalink }}" class="bg-purple-200 dark:bg-slate-800 rounded-2xl shadow hover:shadow-xl transition p-8 origin-center transform-gpu hover:rotate-1">
    {{ with .Resources.GetMatch "cover.*" }}
    {{ with .Resize "x288 webp" }}
    <img src="{{ .Permalink }}" alt="{{ .Params.card_image_alt }}" class="max-h-36 rounded-lg aspect-auto mx-auto">
    {{ end }}
    {{ end }}
    <span class="text-xl font-semibold">
        {{ .Title }}
    </span>

    <div class="font-light text-sm">
        <svg xmlns="http://www.w3.org/2000/svg" class="inline h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
            <path stroke-linecap="round" stroke-linejoin="round" d="M8 7V3m8 4V3m-9 8h10M5 21h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z" />
        </svg>

        {{ .PublishDate | time.Format ":date_long" }}
    </div>

    <div class="font-light text-sm">
        <svg xmlns="http://www.w3.org/2000/svg" class="inline h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
            <path stroke-linecap="round" stroke-linejoin="round" d="M12 8v4l3 3m6-3a9 9 0 11-18 0 9 9 0 0118 0z" />
        </svg>

        {{ .ReadingTime }}
        {{ if eq .ReadingTime 1 }}
        minute
        {{ else }}
        minutes
        {{ end }}
    </div>

    <p class="text-lg">
        {{ .Summary }}
    </p>
</a>