{{ define "main" }}
    <main>
      <div class="bg-purple-600 text-white">
        <div class="md:container py-12">
          <h1 class="text-3xl font-bold underline">{{.Title}}</h1>
          {{ with .Params.subtitle }}
          <span class="text-2xl font-bold">{{.}}</span>
          {{ end }}
  
          {{.Content}}
        </div>
      </div>
      <div class="md:container pt-4">
        <h2 class="text-xl font-bold">projects</h2>
        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4 p-4">
          {{ $pages := where site.RegularPages "Type" "projects" }}
          {{ range $pages }}
              {{ .Render "card" }}
          {{ end }}
        </div>

        <h2 class="text-xl font-bold">recent posts</h2>
        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4 p-4">
          {{ $pages := where site.RegularPages "Type" "posts" }}
          {{ range first 3 $pages }}
              {{ .Render "card" }}
          {{ end }}
        </div>
      </div>
    </main>
{{ end }}