{{ define "main" }}
    <main aria-role="main">
      <div class="bg-purple-500 text-slate-50">
        <div class="md:container mx-auto py-12 px-4">
          <h1 class="text-3xl font-bold underline">{{.Title}}</h1>
          {{ with .Params.subtitle }}
          <span class="text-2xl font-bold">{{.}}</span>
          {{ end }}
  
          {{.Content}}
        </div>
      </div>
      <div class="md:container mx-auto px-4">
        <h2 class="text-xl font-bold">projects</h2>
        {{ $pages := where site.RegularPages "Type" "project" }}
        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4 p-4">
          {{ range $pages }}
              {{ .Render "card"}}
          {{ end }}
        </div>
      </div>
    </main>
{{ end }}